.aside{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    @media (min-width:600px){
        margin-left: 2.3rem;
        margin-right: 2.3rem;
    }
    @media (min-width:1024px){
        padding-left: 10.5rem;
        padding-right: 10.5rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    &__title{
        color: $color-main-darkgreen;
        margin-bottom: 1rem;
        font-family: $font-main;
    }
    &__titletwo{
        font-size: 1.4rem;
        font-weight: bold;
        font-family: $font-second;
        @media (min-width:1024px){
            font-size: 2rem;
        }
    }
    &__parraf{
        font-family: $font-main;
        font-size: 1.2rem;
        margin-top: 1rem;
        
    }
    &__button{
        font-family: $font-main;
        font-size: 1.7rem;
        color: $color-main-darkgreen;
        border: solid $color-main-darkgreen 2px;
        border-radius: 1.75rem;
        width: 10rem;
        height: 3.5rem;
        text-align: center;
        margin-top: 2.8rem;
        background-color: white;
        & a{
            color: $color-main-darkgreen;
            font-weight: bold;   
        }  
           
    }
    &__button:active{
        transform: scale(1.5);
    }
    &__button:hover{
        @media (min-width:1024px){
        transform: scale(1.5);
        transition: all;
        }
    }
    }
   
    
