.header{
    display: flex;
    background-image: url(/images/cover.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 85% 0%;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width:600px){
        background-position: 60% 0%;    
    } 
    @media (min-width:1024px){
        
    }
    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        align-items: center;  
        color: white;
        padding-left: 9%;
        padding-right: 9%;
        @media (min-width:1024px){
            transform: translateY(-10rem);
            padding-left: 30%;
            padding-right: 30%;
            
        }
        &__title {
            font-size: 2.5rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 1rem;
            font-family: $font-second;
            @media (min-width:600px){
                font-size: 4.5rem;
                margin-bottom: 0;          
            } 
            @media (min-width:1024px){
                font-size: 7rem;
                
            }
        }
        &__msn {
            text-align: center;
            font-size: 1.2rem; 
            margin-top: 1rem;
            font-family: $font-main;
            @media (min-width:600px){
                font-size: 2rem;
                padding-left: 5rem;
                padding-right: 5rem;
                margin-top: 0;       
            } 
            @media (min-width:1024px){
                font-size: 2rem;
                margin-bottom: 3rem;
            }
        }
        &__narrow{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1.5rem;
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            @media (min-width:1024px){
                width: 6rem;
                height: 6rem;
                & img{
                    width: 60%;
                }
            } 
            & img{
                width: 50%;
            }
        }
        & a:active{
            transform: scale(2);
        }
    }
    &__nav{
        position: fixed;
        top: 0;
        z-index: 100;
        &__burger{
            display: flex;
            background-color: $color-main-darkgreen;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            @media (min-width:1024px){
                width: 5rem;
                height: 5rem;
            }
            img{
                width: 60%;
        }
        & a:active{
            transform: scale(2);
        }
        }
    }
   
}




