<header class="header" id="header">
  <nav class="header__nav">
    <a
      class="header__nav__burger"
      href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=ESP_GOOGLE_SEARCH_BRAND_CONV&utm_source=google&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=165305917374&hsa_ad=711552043340&hsa_src=g&hsa_tgt=aud-2081361516684:kwd-388755797446&hsa_kw=adalab&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw05i4BhDiARIsAB_2wfA0fX71RrMVl2jM91EP11DG0kZRek0qk1JqrlQ-bUlCI3ee7CkOhMUaAod2EALw_wcB"
      target="_blank"
    >
      <img src="/images/ico-menu.svg" alt="Menú desplegable" />
    </a>
  </nav>
  <section class="header__container">
    <div class="header__container__title">COMIENZOS COMPARTIDOS</div>
    <div class="header__container__msn">
      Todo lo que necesitan para volver al cole con ilusión
    </div>

    <a class="header__container__narrow" href="#backtoschool"
      ><img src="/images/ico-scroll-down.svg" />
    </a>
  </section>
</header>
