<header class="header">
  <nav class="header__nav">
    <div class="header__nav__burger">
      <img src="/images/ico-menu.svg" alt="Menú desplegable" />
    </div>
  </nav>
  <section class="header__container">
    <div class="header__container__title">COMIENZOS COMPARTIDOS</div>
    <div class="header__container__msn">
      Todo lo que necesitan para volver al cole con ilusión
    </div>
    <div class="header__narrow">
    <img src="/images/ico-scroll-down.svg" class="header__narrow__ref"  href="#"></a>
    </div>  
  </section>

</header>
