<main class="main">
  <div class="main__slogan">¡Prepáralos con tus marcas favoritas!</div>
  <div class="main__title">VUELTA AL COLE</div>
  <section class="main__gridcontainer">
    <div class="main__gridcontainer__schoolbags">
      <img
        src="/images/lpbts-mod05-img01-desk.png"
        alt="Imagen mochilas escolares"
      />
      <article>Mochilas escolares</article>
    </div>
    <div class="main__gridcontainer__smallbags">
      <img src="/images/lpbts-mod05-img04-mob.png" alt="Imagen estuches" />
      <article>Estuches</article>
    </div>
    <div class="main__gridcontainer__sportbags">
      <img
        src="/images/lpbts-mod05-img03-mob.png"
        alt="Imagen bolsa de deporte"
      />
      <article>Bolsas de deporte</article>
    </div>
  </section>
  <button class="main__button">
    <a href="#">Empezar ahora</a>
  </button>
</main>
