<main class="main">
  <div class="main__slogan">¡Prepáralos con tus marcas favoritas!</div>
  <div class="main__title" id="backtoschool">VUELTA AL COLE</div>
  <section class="main__gridcontainer">
    <div class="main__gridcontainer__schoolbags">
      <img
        src="/images/lpbts-mod05-img01-desk.png"
        alt="Imagen mochilas escolares"
      />
      <article>Mochilas escolares</article>
    </div>
    <div class="main__gridcontainer__smallbags">
      <img src="/images/lpbts-mod05-img04-mob.png" alt="Imagen estuches" />
      <article>Estuches</article>
    </div>
    <div class="main__gridcontainer__sportbags">
      <img
        src="/images/lpbts-mod05-img03-mob.png"
        alt="Imagen bolsa de deporte"
      />
      <article>Bolsas de deporte</article>
    </div>
  </section>
  <button class="main__button">
    <a
      href="https://landing.adalab.es/sql-bootcamps-online?utm_term=adalab&utm_campaign=ESP_GOOGLE_SEARCH_BRAND_CONV&utm_source=google&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=165305917374&hsa_ad=711552043340&hsa_src=g&hsa_tgt=aud-2081361516684:kwd-388755797446&hsa_kw=adalab&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQjw05i4BhDiARIsAB_2wfA0fX71RrMVl2jM91EP11DG0kZRek0qk1JqrlQ-bUlCI3ee7CkOhMUaAod2EALw_wcB"
      target="_blank"
      >Empezar ahora</a
    >
  </button>
</main>
